:root {
  --background-color: #121212;
  --search-bar: #2E2E2F;
  --search-button: #4B4B4B;
  --white: #FFF;

  --font-inter: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
  background-color: #1C1C1C;
}

.container {
  max-width: 550px;
  margin: 0 auto;
  background-color: var(--background-color);
}

.header-image-wrapper {
  background-image: url('../images/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 208px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-text-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1,
h3,
h4 {
  color: var(--white);
}

h1 {
  font-size: 2.673rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  font-size: 0.75rem;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  position: absolute;
  top: 190px;
}

.icon-wrapper {
  background-color: var(--search-bar);
  height: 38px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0 0 6px;
}

.icon-wrapper>img {
  width: 20px;
  height: 20px;
}

.input-wrapper>input,
.input-wrapper>button {
  height: 38px;
  border: none;
}

.input-wrapper>input {
  box-sizing: border-box;
  width: 342px;
  padding: 0 0 0 0.625rem;
  background-color: var(--search-bar);
  font-family: var(--font-inter);
  color: var(--white);
}

.input-wrapper>input::placeholder {
  font-family: var(--font-inter);
  font-weight: 500;
}

.input-wrapper>button {
  width: 120px;
  border-radius: 0 6px 6px 0;
  background-color: var(--search-button);
  color: var(--white);
  font-family: var(--font-inter);
  font-weight: 500;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #5b5b5c;
}

.movie-section {
  margin-top: 1.25rem;
  height: auto;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reverse {
  flex-direction: column-reverse;
}

.placeholder-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 5rem;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  max-width: 500px;
  border-bottom: 1px solid #eee;
  color: var(--white);
}

.movie-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1.25rem;
}

.movie-title-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 25px;
}

.movie--title-wrapper>h3 {
  font-size: 1.125rem;
  color: var(--white);
  font-weight: 500;
}

.movie-info-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0.5rem 0;
}

.watchlist-button {
  display: flex;
  gap: 5px;
  background-color: transparent;
  border: none;
  color: var(--white);
  align-items: center;
}

.watchlist-button>p {
  margin: 0;
}

.watchlist-button:hover {
  filter: brightness(.7);
  cursor: pointer;
}

.watchlist-link,
.watchlist-link:visited {
  text-decoration: none;
  color: var(--white);
}

.watchlist-link:hover {
  color: #ff4444;
}

.add-icon {
  width: 16px;
}

.imdb {
  display: flex;
  align-items: center;
}

.imdb>p {
  font-size: 0.75rem;
}

.star-icon {
  width: 15px;
  height: 15px;
  margin-bottom: 0.0625rem;
  margin-right: 0.25rem;
}

.poster {
  width: 100px;
}

.plot-text {
  font-size: 0.875rem;
  line-height: 20px;
  font-weight: 400;
  color: #A5A5A5;
  margin-top: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #121212;
  margin: 15% auto;
  padding: 1.25rem;
  border: 1px solid var(--white);
  width: 50%;
  text-align: center;
  color: var(--white);
}

.close {
  color: var(--white);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #4B4B4B;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 5rem;
}

.error-message h4 {
  color: #787878;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.placeholder-empty-wrapper a {
  display: flex;
  justify-content: center;
  cursor: pointer;
  gap: 5px;
}

.placeholder-empty-wrapper h4 {
  margin: 0;
}

.placeholder-empty-wrapper img {
  width: 18px;
}